body {
  height: 100vh;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
footer {
  height: 50px;
  padding: 10px 25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#start {
  width: 80px;
  border-radius: 5px;
}

#difficult {
  width: 180px;
  border-radius: 5px;
}

#gamesection {
  height: calc(100% - 70px - 50px);
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* box-shadow: 0 0 0 1px black; */
  border: 1px solid black;
  height: 80%;
  aspect-ratio: 1;
}
.box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/* ex clicked */
.box.safe {
  background-color: darkcyan;
}
.box.error {
  background-color: red;
}
.box-10 {
  width: calc(100% / 10);
  aspect-ratio: 1;
}
.box-9 {
  width: calc(100% / 9);
  aspect-ratio: 1;
}
.box-7 {
  width: calc(100% / 7);
  aspect-ratio: 1;
}
